<tr style="view-transition-name: <%= dom_id(credential) %>">
  <td><strong><%= credential.name.presence || "Passkey" %></strong></td>
  <td><%= local_datetime_tag credential.created_at, style: :datetime %></td>
  <td>
    <%= button_to user_credential_path(@user, credential), method: :delete,
          class: "btn txt-negative btn--circle txt-x-small borderless fill-transparent",
          data: { turbo_confirm: "Are you sure you want to remove this passkey?" } do %>
      <%= icon_tag "trash" %>
      <span class="for-screen-reader">Remove this passkey</span>
    <% end %>
  </td>
</tr>
